* {
  border: 1px solid blue;
}

body{
  /* background-color: lightgrey; */
  background-image: url("../img/background_shapelined.jpg");
  /* https://unsplash.com/photos/_JBKdviweXI?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
}

.card {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  width: 100%;
  max-width: 200px;
}

.card:hover {
    /* opacity: 1; */
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 0px;
}

.card-title {
  width: 100%;
}

.modal-scores-summary {
  padding: 15px 0px;
}
