/* * {
  border: 1px solid blue;
} */

html {
  height: 100%;
}

body{
  /* background-color: lightgrey; */
  background-image: url("../img/background_shapelined.jpg");
  /* https://unsplash.com/photos/_JBKdviweXI?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
}

.navbar-custom {
  background-color: #8b8b8b;
}

#logo-navbar {
  max-height: 60px;
}


.container-main {
  /* margin-bottom:  */
  margin-top: 120px;
  margin-bottom: 30px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  width: 100%;
  max-width: 200px;
}

.card:hover {
    /* opacity: 1; */
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 0px;
}

.card-title {
  width: 100%;
}

.modal-scores-summary {
  padding: 15px 0px;
}

.footer {
	/* position: fixed; */
  /* position: absolute; */
	text-align: center;
	bottom: 0;
	width: 100%;
	/* height: 60px; */
	background-color: #8b8b8b;
}

.footer p {
	/* margin-top: 20px; */
	font-size: 12px;
  padding: 1rem;
  color: #fff;
}
